[Desktop Entry]
Version=1.1
Type=Application
Name=Gautier RSS
Comment=Shows RSS/Atom feeds in a simple and clean window
TryExec=gautierrss
Exec=gautierrss
Icon=gautierrss
MimeType=image/x-gautierrss;
Categories=Network;GTK;News;
