[Desktop Entry]
Version=1.0
Type=Application
Name=Gautier RSS
GenericName=News Reader
Comment=Shows RSS/Atom feeds in a simple and clean window
TryExec=gautierrss
Exec=/usr/bin/gautierrss
Icon=gautierrss
Categories=Network;News;GTK;
Terminal=false
